////////////////////////////////////////////////////////////////////////////////////////////
// Globals
////////////////////////////////////////////////////////////////////////////////////////////
*,
*:before,
*:after {
  box-sizing: border-box;
}

html, 
body { 
  height: 100%; 
  font: 17px/1.4 Verdana, Arial, sans-serif;
  @include respond-to(mobile) {
    overflow-x: hidden; 
  }
}

body {
  background-color: #fff; 
}
