// BOURBON AND NEAT VARIABLES
$visual-grid: true !global;

// PADDING + MARGIN
$em-base: 16px;
$space: rem(25);
$color--primary: #6FCCDD;                 // Teal
$color--contrast: #F15B58;                // Red
$color--button__primary: #3d44ac;         // Blue
$text--light: #ffffff; 
$text--dark: #231F20; 

// Testing typography
$ms-base: 1em;
$ms-ratio: 1.5;